.navItems {
	position: absolute;
	top: 45%;
	z-index: 5000;
	//width: 100%;
	padding: 0 9vw;
	font-weight: 500;
	span {
		//font-size: 2.5rem;
		color: white;
		//font-weight: 700;
		//line-height: 5vw;
	}
	img {
		width: 150px;
		padding: 2rem 0 0 0;
	}
}

.header-text {
	line-height: 50px;
	margin-top: 3rem;
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 2.5rem;
	// >div {
	//     line-height: 2rem;
	// }
}

.sub-text {
	line-height: 2rem;
	font-size: 1.2rem;
	max-width: 60vw;
}

.container {
	padding: 3vw 9vw;
	background-color: #e5e5e5;
}

.header {
	font-size: 3.4rem;
	font-weight: 700;
	padding-bottom: 2vw;
	line-height: 5rem;
	color: #f67e22;
}

.description {
	font-size: 1.25rem;
	color: #808080;
	font-weight: 400;
	line-height: 2.5rem;
	div {
		margin-bottom: 2.5rem;
	}
}

.admin-container {
	background-color: white;
	border-radius: 2rem;
	padding: 6rem;
}

.audit-header {
	background: #3e4350;
	height: 5.1rem;
	padding: 1rem 4.4rem;
	margin-top: 4rem;
	line-height: 1.8rem;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
	span {
		color: white;
		font-size: 1.6rem;
		font-weight: 500;
	}
}

.download {
	color: #f67e22 !important;
	font-size: 1.4rem;
	font-weight: 500 !important;
	&:before {
		content: "\2B73";
		color: #f67e22;
		font-size: 1.5rem;
		font-weight: 800 !important;
		padding: 15px;
	}
}

.table {
	width: 80vw;
}

#audit-report-table {
	border-collapse: collapse;
	width: 100%;
	background-color: white;
}

#audit-report-table td,
#audit-report-table th {
	height: 7.5rem;
}

#audit-report-table a {
	text-decoration: none;
	color: #f67e22;
}

//#audit-report-table tr:nth-child(even){background-color: #f2f2f2;}
//#audit-report-table tr:hover {background-color: #ddd;}
#audit-report-table th {
	font-size: 1.25rem;
	font-weight: 600;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	color: #404040;
	padding: 0 10px;
}

#audit-report-table td {
	font-size: 1.25rem;
	font-weight: 400;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	color: #7a7a7a;
}

#audit-report-table tr {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	color: #7a7a7a;
	border: solid #e8e6e6 1px;
}

.table-small {
	th,
	td {
		font-size: 1rem !important;
	}
}

//Competetive dept css

$orange: #f67e22;

.header-text {
	line-height: 50px;
	margin-top: 3rem;
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 2.5rem;
}

.sub-text {
	line-height: 2rem;
	font-size: 1.2rem;
	max-width: 60vw;
}

.container {
	padding: 3vw 9vw;
	background-color: #e5e5e5;
}

.header {
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 1rem;
	line-height: 2.5rem;
	color: #f67e22;
}

.description {
	font-size: 1rem;
	color: #808080;
	font-weight: 400;
	line-height: 2rem;
	div {
		margin-bottom: 1.2rem;
	}
}

.admin-container {
	background-color: white;
	border-radius: 2rem;
	padding: 6rem;
}

.topics {
	div {
		position: relative;
		padding: 20px;
		margin: 2rem;
		border-radius: 10px;
		color: #f67e22;
		border: 2px solid white;
		// color: rgba($color: #f67e22, $alpha: 1);
		box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
			0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
		cursor: pointer;
		&:hover {
			border: 2px solid #fb6003;
			transform: scale(1.02);
			transition: transform 0.2s ease;
		}
		a {
			font-size: 1.4rem;
		}
	}
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	height: 100vh;
	width: 100vw;
	transform: scale(0);
	transition: all 0.5s ease;
	background-color: white;
	&.active {
		transform: scale(1);
	}
	.modal-body {
		position: relative;
		height: 90vh;
		width: 80vw;
		background-color: white;
		padding: 3rem;
		border-radius: 20px;
		text-align: justify;
		color: #f67e22;
		overflow: scroll;
		box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
			0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
		h1,
		h2 {
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 1.5rem;
			line-height: 3rem;
			&.title {
				text-align: center;
			}
		}
		h2 {
			margin: 20px 0;
			font-size: 1.5rem;
			line-height: 2rem;
		}
		.rules {
			font-size: 1rem;
			line-height: 1.8rem;
			font-weight: 400;
			color: #3e5063;
			margin-bottom: 0.5rem;
		}
	}
}

.objectives-card {
	margin: 2rem 0;
	transition: all 0.1s ease-in-out !important;
	.item {
		padding: 20px;
		height: 100%;
		margin: 30px;
		border-radius: 10px;
		color: #f67e22;
		// color: rgba($color: #f67e22, $alpha: 1);
		box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
			0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
		&:hover {
			border: 2px solid #fb6003;
			transform: scale(1.02);
			transition: transform 0.2s;
		}
		.icon {
			color: #f67e22;
			margin-bottom: 10px;
		}
	}
}

.cross-icon {
	position: fixed;
	top: 7vh;
	right: 11vw;
	font-size: 2rem;
	color: #f67e22;
}

//View Modal
.view-modal-container {
	position: fixed;
	z-index: 99999999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: white;
	transition: all 0.5s ease-in-out;
	overflow-y: scroll;
	&.active {
		display: flex;
		animation: fade_in_show 0.5s;
	}
	.books-modal {
		width: 60vw;
	}
	input {
		max-width: inherit !important;
	}
	nb-card {
		height: 100%;
		width: 100%;
	}

	::ng-deep {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		.h1,
		.h2,
		.h3,
		.h4,
		.h5,
		.h6 {
			color: $orange !important;
			margin: 20px 0;
			font-size: 1.5rem;
			line-height: 2rem;
		}
		h1,
		h2 {
			font-weight: bold;
			&.title {
				text-align: center;
			}
		}
		h2 {
			margin: 20px 0;
			font-size: 1.5rem;
			line-height: 2rem;
		}
		.rules {
			font-size: 1rem;
			line-height: 1.8rem;
			font-weight: 400;
			color: #3e5063;
			margin-bottom: 0.5rem;
		}
		li {
			line-height: 1.8rem;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			background-color: white;
			td,
			th {
				height: 4.5rem;
			}
			th {
				font-size: 1.25rem;
				line-height: 2rem;
				font-weight: 600;
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: center;
				color: #404040;
				padding: 0 10px;
			}
			td {
				font-size: 1rem;
				font-weight: 400;
				padding: 12px;
				text-align: center;
				color: #7a7a7a;
			}
			tr {
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: center;
				color: #7a7a7a;
				border: solid #e8e6e6 1px;
				// &:last-child {
				//     td {
				//         font-weight: bold !important;
				//         color: #404040;
				//         font-size: 1.2rem;
				//     }
				// }
			}
			a {
				text-decoration: none;
				color: #f67e22;
			}
		}

		.table-header {
			background: #3e4350;
			padding: 1rem 4.4rem;
			line-height: 1.8rem;
			border-top-left-radius: 1.5rem;
			border-top-right-radius: 1.5rem;
			text-align: center;
			color: white;
			span {
				font-size: 1.2rem;
				font-weight: 500;
			}
		}
	}
	.view-modal {
		position: relative;
		height: 90vh;
		width: 80vw;
		background-color: white;
		padding: 1rem 2rem;
		border-radius: 20px;
		text-align: justify;
		overflow: scroll;
		box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
			0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
	}
}
