<div class="container">
  <div class="language-banner" fxLayout="row" fxLayoutAlign="end center">
    <div class="zoomButtons">
      <button mat-icon-button (click)="increaseFont(0.9)">
        <span class="zoomText">A<sup>-</sup></span>
      </button>
      <button mat-icon-button (click)="increaseFont(1)">
        <span class="zoomText">A<sup> </sup></span>
      </button>
      <button mat-icon-button (click)="increaseFont(1.1)">
        <span class="zoomText">A<sup>+</sup></span>
      </button>
    </div>

    <span>Language:</span>
    <a (click)="setLanguage('en')" [ngClass]="{'selected': getLanguage('en')}">
      English
    </a>
    <a (click)="setLanguage('mr')" [ngClass]="{'selected': getLanguage('mr')}">
      Marathi
    </a>
  </div>
  <div class="m-header" fxHide.gt-sm>
    <div class="icon-c" fxLayout="row" fxLayoutAlign="end center" ngClass.gt-sm="d-none">
      <div class="menu-icon" (click)="setToggled()" [ngClass]="{'opacity': isToggled}">
        <fa-icon class="icon" [icon]="faIcons.faBars"></fa-icon>
      </div>
    </div>
    <div class="m-header-container" [ngClass]="{'toggled': !isToggled}">
      <div class="icon-c" fxLayout="row" fxLayoutAlign="end center" ngClass.gt-sm="d-none">
        <div class="menu-icon" (click)="setToggled()">
          <fa-icon class="icon orange" [icon]="faIcons.faTimes"></fa-icon>
        </div>
      </div>
      <ul fxLayout="column" fxLayoutAlign="end end" (click)="setToggled()">
        <li *ngFor="let item of menu" [ngClass]="{'active': item.path === route || route.startsWith(item.path)}">
          <a [routerLink]="item.path">{{getItem(item.name)}}</a>
          <ul *ngIf="item.sublist" class="sublist">
            <li *ngFor="let subitem of item.sublist">
              <a [routerLink]="subitem.path">{{getItem(subitem.name)}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-container" fxLayout.gt-sm="row" fxLayout="column" fxLayout.lt-md="1rem">
    <img alt="logo" class="header-bg header-logo" src="../../assets/images/emblem.png"
      [ngStyle.lt-sm]="{'padding': '25px'}">
    <div fxLayout="column" style="width: 100%;">
      <span class="banner-text" ngStyle.lt-md="color: #ff4e00;font-size: 1.2rem;line-height: 2rem;">
        {{getItem(content.title)}}
        <!-- <br> -->
        <!-- <span ngStyle.lt-md="color: #ff4e00;font-size: 1.2rem;line-height: 2rem;">{{getItem(content.sarthi)}}</span> -->
      </span>
      <!-- <div class="blinking-lights">
        शाहू विचारांना देऊया गती, साधूया सर्वांगीण प्रगती
      </div> -->
      <div class="slogan">{{getItem(content.slogan)}}</div>
    </div>
    <img alt="logo" class="header-bg header-logo" src="../../assets/images/sarthi_logo.png"
      [ngStyle.lt-sm]="{'padding': '25px'}">
  </div>
  <div class="navItems" fxHide.lt-md>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="space-between start"
      fxLayoutGap="2rem">
      <ul class="d-flex" fxFlex="100" fxLayout="row wrap" fxLayout.lt-md="column"
        fxLayoutAlign.lt-md="flex-end flex-end" fxLayoutAlign="center center">
        <li *ngFor="let item of menu" [ngClass]="{'active': item.path === route || route.startsWith(item.path)}">
          <a *ngIf="item.path" [routerLink]="item.path">
            {{getItem(item.name)}}
          </a>
          <!-- <a *ngIf="item?.url" [href]="item?.url" target="_blank">
            {{getItem(item.name)}}
          </a> -->
          <ul *ngIf="item.sublist" class="sublist">
            <li *ngFor="let subitem of item.sublist">
              <a [routerLink]="subitem.path">{{getItem(subitem.name)}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="marquee">
    <span *ngFor="let item of marque">
      <fa-icon class="icon" [icon]="faIcons.faHotjar"></fa-icon>
      <a href={{item.link}} target="_blank">
        {{item.title}}
      </a>
    </span>
  </div>
  <!-- <ngx-marquee>
    <mark class="ticker-custom" *ngFor="let item of marque">
      <fa-icon class="icon" [icon]="faIcons.faHotjar"></fa-icon>
      <a href={{item.link}} target="_blank">
        {{item.title}}
      </a>
    </mark>
  </ngx-marquee> -->

</div>
