$orange: #f67e22;
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*,
*:before,
*:after {
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif !important;
}

::-webkit-scrollbar-thumb {
	//background: #3E5063;
	background: rgba(62, 80, 99, 0.5);
}

.container {
	position: relative;
	z-index: 9999;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header-container {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
	padding: 0.5rem 0;
}

.header-bg {
	height: 7rem;
	object-fit: contain;
}

.header-logo {
	padding: 0px;
}

.banner-text {
	font-size: 2.5rem;
	font-weight: bold;
	color: $orange;
	line-height: 2rem;
	text-align: center;
	line-height: 3rem;
	font-family: "Sorts Mill Goudy" !important;
	span {
		font-size: 2.5rem;
		font-family: "Sorts Mill Goudy" !important;
	}
}

.toolBar {
	z-index: 1000;
	margin-top: 10rem;
}

.navItems {
	background-color: $orange;
	font-size: 0.9vw;
	display: flex;
	justify-content: center;
	font-weight: 500;
	z-index: 5000;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	width: 100%;
	&.toggled {
		// background-color: rgba($color: $orange, $alpha: 1);
		background-color: #ff4e00;
		background-image: linear-gradient(15deg, #ff4e00 0%, #ec9f05 74%);
	}
	div {
		flex-wrap: wrap;
		padding: 10px 0;
	}
	li {
		&:hover {
			.sublist {
				display: block;
			}
		}
	}
	a {
		color: white;
		display: block;
		text-decoration: none;
		transition: all 0.3s ease-in;
		//border-bottom: 4px solid transparent;
		margin: 0 10px;
		text-transform: uppercase;
		text-align: center;
		&:after {
			display: block;
			content: "";
			height: 2px;
			width: 100%;
			//background-color: #f67e22;
			background-color: rgb(131, 127, 127);
			border-radius: 5px;
			transition: 0.3s ease-in-out;
			transform-origin: bottom left;
			margin-top: 5px;
			opacity: 0;
		}
		&:hover {
			color: #354658;
		}
	}
	span {
		font-size: 5rem;
		color: white;
		font-weight: 500;
	}
	img {
		width: 150px;
		padding: 2rem 0 0 0;
	}
	.active > a {
		color: rgb(52, 70, 88);
	}
}

@media (max-width: 1450px) {
	.navItems {
		justify-content: center;
		align-items: center;
		display: flex;
		font-weight: 500;
		// border-radius: 20px;
		a {
			font-weight: 500;
			line-height: 1.5;
		}
	}
}

@media screen and (max-width: 960px) {
	.header-container {
		span {
			color: white;
			font-size: 1rem;
		}
	}
}

ul {
	list-style: none;
	overflow: visible;
	&.minimized {
		max-height: 0;
	}
}

.menu-icon {
	color: white !important;
	cursor: pointer;
	font-size: 1.4rem;
}

.icon-c {
	padding: 1rem 2rem;
}

.opacity {
	opacity: 0;
}

.d-none {
	display: none !important;
}

.sublist {
	position: relative;
	margin-top: 9px;
	display: none;
	background: rgba($color: #ffffff, $alpha: 1);
	padding: 0.5rem 0;
	width: max-content;
	border-radius: 10px;
	a {
		color: $orange;
		padding: 5px;
		// border-bottom: solid 1px $orange;
		font-size: 0.8rem;
		font-weight: 500;
	}
}

.m-header {
	z-index: 10000;
	width: 100vw;
	background-color: $orange;
	position: relative;
	overflow-y: auto;
	.m-header-container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 60vw;
		height: 100vh;
		background-color: white;
    overflow: scroll;
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
		&.toggled {
			-webkit-transform: translateX(60vw);
			/* safari and chrome */
			-moz-transform: translateX(60vw);
			/*firefox browsers */
			transform: translateX(60vw);
			/*other */
			-ms-transform: translateX(60vw);
			/* Internet Explorer 9 */
			-o-transform: translateX(60vw);
			/* Opera */
		}
		ul {
			li {
				padding: 1rem;
				width: 100%;
				border-bottom: 1px solid $orange;
				text-align: start;
        &.toggled {
          .sublist {
            display: block;
          }
        }
				a {
					text-decoration: none;
					color: $orange;
				}
			}
		}
	}
}

.language-banner {
	width: 100%;
	background-color: $orange;
	padding: 5px 2rem 5px 0;

	a,
	span {
		color: white;
		margin-right: 1rem;
		cursor: pointer;
		&.selected {
			color: #354658 !important;
		}
	}
}

.blinking-lights {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 0.8rem;
	padding: 0 10px;
	animation: color-change 1s infinite;
	&::before {
		content: open-quote;
	}
	&::after {
		content: close-quote;
	}
}

.slogan {
	text-align: center;
	font-size: 1.5rem;
	padding: 0 10px;
	color: #354658;
	font-weight: 600;
	line-height: 1.7rem;
}

@keyframes color-change {
	0% {
		color: $orange;
	}
	50% {
		color: #354658;
	}
	100% {
		color: $orange;
	}
}
div.marquee span {
	margin-right: 100%;
}
div.marquee p {
	white-space: nowrap;
	margin-right: 1000px;
}
marquee {
	padding: 0.5rem 0;
	margin-bottom: 0.5rem;
	background-color: #f67e2228;
}
marquee {
	fa-icon {
		margin-right: 0.5rem;
		margin-left: 1rem;
		color: red;
	}
}
.marqueeText {
	padding: 0.5rem 0;
	margin-bottom: 0.5rem;
	text-decoration: none;
	color: #a73333;
	font-size: 1rem;
	font-weight: 600;
}

@keyframes marquee {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

.orange {
	color: $orange !important;
}

.zommButtons {
	color: white;
	transition: all 0.1s ease-in-out !important;
	margin-right: 0.5rem;

	span.zoomText {
		&:hover {
			color: #354658;
		}
	}
	button {
		width: inherit;
	}
}

.header-small {
	display: flex;
	flex-direction: column !important;
}

@media screen and (max-width: 960px) {
	.language-banner {
		padding-left: 5rem;
	}
	.marquee {
		a {
			background-color: #fff3e9;
		}
	}
}
