<div class="container">
  <div class="header-container">
    <img alt="logo" class="header-bg header-logo" src="../../assets/images/logo.png "/>
  </div>
  <div class="navItems" fxflex="100" fxlayoutalign="center" fxlayoutalign.lt-sm="start">
    <div fxLayout.lt-sm="row" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="space-between start"
         fxLayoutGap="2rem">
      <ul style="list-style: none">
      <li><a routerLink=''>Home</a></li>
      <li><a routerLink='/about-us'>About Us</a></li>
      <li><a routerLink='/departments'>Department</a></li>
      <li><a routerLink='/accounts'>Accounts</a></li>
      <li><a routerLink='/notices'>Notice Board</a></li>
      <li><a routerLink='/reports'>Reports</a></li>
      <li><a routerLink='/events'>Events</a></li>
      <li><a routerLink='/photo-gallery'>Photo Gallery</a></li>
      <li><a routerLink='/contact-us'>Contact Us</a></li>
      </ul>
    </div>
  </div>

</div>
