<div class="container">
    <div class="sub-container" fxLayoutAlign="center center">
        <div class="img-container-left" fxHide.lt-md>
            <img style="width: 30rem;" alt="logo" src="../../assets/images/Shahu-Maharaj-min.png">
        </div>
        <div class="img-container" fxHide.lt-md>
            <img style="width: 40rem;" alt="logo" src="../../assets/images/shivaji1.png">
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem" fxFlex="50" style="max-width: 100%;text-align: center;">
            <div fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="center center" fxFlex="100" fxLayoutGap="2rem" style="max-width: 100% !important;text-align: center;">
                <div class="logo-container ">
                    <img alt="logo " class="logo " src="../../assets/images/SARTHi-Round.png ">
                </div>
                <div class="footer-text " fxFlex="50 " fxFlex.lt-md="100 ">
                    <span style="max-width: 50%; text-align: center; ">
                        {{getItem(content.address)}}
                        <br>
                        {{getItem(content.content)}}
                    </span>
                </div>
                <div class="nav-items " fxLayout="row " fxLayout.lt-sm="column " fxLayoutAlign="space-around flex-start " ngStyle.lt-md="width: 100%; " fxLayoutGap.gt-md="1rem ">
                    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.lt-md="column " fxFlex="100 " fxLayoutGap=10px>
                        <a routerLink>Home</a>
                        <a routerLink='/about-us'>About Us</a>
                        <a routerLink='/departments'>Department</a>
                        <a routerLink='/accounts'>Accounts</a>
                        <a routerLink='/notices'>Notice Board</a>
                        <a routerLink='/photo-gallery'>Photo Gallery</a>
                        <a routerLink='/contact-us'>Contact Us</a>
                    </div>
                    <!-- <div fxLayout="column " fxFlex="50 ">
                        <a routerLink='/notices'>Notice Board</a>
                        <a routerLink='/photo-gallery'>Photo Gallery</a>
                        <a routerLink='/contact-us'>Contact Us</a>
                    </div> -->
                </div>
            </div>
            <div fxLayout="row " fxLayoutGap="30px " fxLayoutAlign="center center ">
                <div>
                    <img alt="logo " class="social-icons " src="../../assets/images/fb.png ">
                </div>
                <div>
                    <img alt="logo " class="social-icons " src="../../assets/images/insta.png ">
                </div>
                <div>
                    <img alt="logo " class="social-icons " src="../../assets/images/youtube.png ">
                </div>
                <div>
                    <img alt="logo " class="social-icons " src="../../assets/images/twitter.png ">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright " fxLayoutAlign="center center " fxLayout="column">
        Copyright © 2021 SARTHI, Pune. All Rights Reserved
        <a href="http://supersapiens.in/" target="_blank">
            <div *ngIf="getCurrentLang()=='en' then superSapiensEn else superSapiensMr"></div>
            <ng-template #superSapiensEn>
                <div class="superSapiens">
                    {{content.sapiens.en}}
                    <img alt="logo " src="../../assets/images/logo-1.png ">
                </div>
            </ng-template>
            <ng-template #superSapiensMr>
                <div class="superSapiens">
                    <img alt="logo " src="../../assets/images/logo-1.png "> {{content.sapiens.mr}}
                </div>
            </ng-template>
        </a>
    </div>
</div>