<div class="container">
  <div class="sub-container">
    <div class="img-container" fxHide.lt-md>
      <img alt="logo" src="../../assets/images/footerdesign.png " />
    </div>
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2rem">
      <div class="logo-container" fxFlex="40">
        <div>
          <img alt="logo" class="logo" src="../../assets/images/main-logo.png " />
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex="100"
        fxLayoutGap.lt-md="2rem">
        <div class="footer-text" fxFlex="50" fxFlex.lt-md="100">
          <span>I inherited my grandparents house which
            needed desperate repairs before i could use it or rent it. The ongoing costs even before fixing I inherited
            my grandparents house which
            needed desperate repairs before i could use it or rent it. The ongoing costs even before fixing </span>
        </div>

        <div class="nav-items" fxFlex="40" fxFlex.lt-md="100" fxLayout="row" fxLayout.lt-sm="column"
          fxLayoutAlign="space-between flex-start">
          <div fxLayout="column" fxFlex="50">
            <a routerLink=''>Home</a>
            <a routerLink='/about-us'>About Us</a>
            <a routerLink='/departments'>Department</a>
            <a routerLink='/accounts'>Accounts</a>
          </div>
          <div fxLayout="column" fxFlex="50">
            <a routerLink='/notices'>Notice Board</a>
            <a routerLink='/photo-gallery'>Photo Gallery</a>
            <a routerLink='/contact-us'>Contact Us</a>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="30px">
        <div><img alt="logo" class="social-icons" src="../../assets/images/fb.png " /></div>
        <div><img alt="logo" class="social-icons" src="../../assets/images/insta.png " /></div>
        <div><img alt="logo" class="social-icons" src="../../assets/images/youtube.png " /></div>
        <div><img alt="logo" class="social-icons" src="../../assets/images/twitter.png " /></div>
      </div>
    </div>
  </div>
  <div class="copyright" fxLayoutAlign="center">Copyright © 2021 SARTHI, Pune. All Rights Reserved</div>
</div>
