<div class="container">
    <div class="sub-container">
        <div class="img-container-left" fxHide.lt-md>
            <img style="width: 34rem;" alt="logo" src="../../assets/images/Shahu-Maharaj-min.png">
        </div>
        <div class="img-container" fxHide.lt-md>
            <img style="width: 43rem;" alt="logo" src="../../assets/images/shivaji1.png">
        </div>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2rem">
            <div fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="start center" fxFlex="100" fxLayoutGap="2rem">
                <div class="logo-container">
                    <img alt="logo" class="logo" src="../../assets/images/SARTHi-Round.png">
                </div>
                <div class="footer-text" fxFlex="50" fxFlex.lt-md="100">
                    <span>
                        Balchitravani, C T Survey Number 173, B/1, Gopal Ganesh Agarkar Road, Pune 411 004
                    </span>
                </div>
                <div class="nav-items" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around flex-start" ngStyle.lt-md="width: 100%;" fxLayoutGap.gt-md="1rem">
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100" fxLayoutGap=10px>
                        <a routerLink>Home</a>
                        <a routerLink='/about-us'>About Us</a>
                        <a routerLink='/departments'>Department</a>
                        <a routerLink='/accounts'>Accounts</a>
                        <a routerLink='/notices'>Notice Board</a>
                        <a routerLink='/photo-gallery'>Photo Gallery</a>
                        <a routerLink='/contact-us'>Contact Us</a>
                    </div>
                    <!-- <div fxLayout="column" fxFlex="50">
                        <a routerLink='/notices'>Notice Board</a>
                        <a routerLink='/photo-gallery'>Photo Gallery</a>
                        <a routerLink='/contact-us'>Contact Us</a>
                    </div> -->
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
                <div>
                    <img alt="logo" class="social-icons" src="../../assets/images/fb.png ">
                </div>
                <div>
                    <img alt="logo" class="social-icons" src="../../assets/images/insta.png ">
                </div>
                <div>
                    <img alt="logo" class="social-icons" src="../../assets/images/youtube.png ">
                </div>
                <div>
                    <img alt="logo" class="social-icons" src="../../assets/images/twitter.png ">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright" fxLayoutAlign="center center">
        Copyright © 2021 SARTHI, Pune. All Rights Reserved
    </div>
</div>