<div class="container">
  <div class="admin-container" fxLayout='column' fxFlexAlign='center center' [ngStyle.lt-md]="{'padding':'3rem'}"
    [ngStyle.lt-sm]="{'padding':'1.5rem'}">
    <div class="header" [ngStyle.lt-md]="{'font-size':'1.5rem', 'line-height':'2.5rem'}"
      fxLayoutAlign.lt-sm='center center' fxLayout.lt-sm='column'>
      <span>{{pageStats?.bodyTitle}}t</span>
    </div>
    <div class="description" [ngStyle.lt-md]="{'font-size':'0.8rem','text-align': 'justify', 'line-height': '1.5rem'}"
      [ngStyle.lt-sm]="{'font-size':'0.6rem','text-align': 'justify', 'line-height': '1.5rem'}">
      <div>
        Grievance Cell Information
        <a class="btn" href="../../assets/files/womentEmpowerment/SARTHI_Grievance_Committee_12_11_2019.pdf" download>
          View
        </a>
      </div>
    </div>
  </div>
</div>
