<div class="navItems">
  <div class="header-text" fxLayout="column">
    <div>
      <span>
      Administration & Management
    </span>
    </div>
    <div><img alt="line" src="../../assets/images/line.png "/></div>
  </div>
  <div class="sub-text">
    <span>
    Sed ut perspiciatis omnis iste natus error sit accusantium doloremque Sed ut perspiciatis omnis iste natus error sit
    accusantium doloremque
    </span>
  </div>
</div>
<div class="container">
  <div class="admin-container">
    <div class="header">
      <span>Administration &</span>
    </div>
    <div class="description">
      <div> <span>
      Chhatrapati Shahu Maharaj Research Training and Human Development Institute (SARTHI),
      Pune is registered under Company Act, 2013 under Section 8 as Non-Profit government company for research, policy advocacy, training etc.
      for socio-economic and education development of Maratha, Maratha-Kunbi, Kunbi-Maratha, Kunbi community in Maharashtra State.
      Our organisation thrust areas includes research, policy advocacy to government, training etc. and guidance to rural population,
      particularly the farmers whose livelihood is dependent on agriculture.
    </span></div>
      <div><span>
      Chhatrapati Shahu Maharaj Research Training and Human Development Institute (SARTHI),
      Pune is registered under Company Act, 2013 under Section 8 as Non-Profit government company for research, policy advocacy, training etc.
      for socio-economic and education development of Maratha, Maratha-Kunbi, Kunbi-Maratha, Kunbi community in Maharashtra State.
      Our organisation thrust areas includes research, policy advocacy to government, training etc. and guidance to rural population,
      particularly the farmers whose livelihood is dependent on agriculture.
    </span></div>
    </div>
  </div>
</div>


