<div class="navItems" [ngStyle.lt-sm]="{'top':'10%'}" [ngStyle.lt-md]="{'top':'10%'}">
    <div class="header-text" fxLayout="column" [ngStyle.lt-md]="{ 'line-height':'0', 'font-size':'2rem', 'margin-bottom':'1rem'}">
        <div>
            <span [ngStyle.lt-md]="{'font-size':'2rem', 'margin-top':'0'}">Contact Us</span>
        </div>
        <div>
            <img alt="line" src="../../assets/images/line.png ">
        </div>
    </div>
    <div class="sub-text" [ngStyle.lt-sm]="{ 'line-height':'2rem', 'font-size':'1rem', 'max-width':'100%'}">
        <span>
            Sed ut perspiciatis omnis iste natus error sit accusantium doloremque Sed ut perspiciatis omnis iste natus error sit
    accusantium doloremque
        </span>
    </div>
</div>
<div class="container">
    <div class="admin-container" fxLayout='column' fxFlexAlign='center center' [ngStyle.lt-md]="{'padding':'3rem'}" [ngStyle.lt-sm]="{'padding':'1.5rem'}">
        <div class="header" [ngStyle.lt-md]="{'font-size':'1.5rem', 'line-height':'2.5rem'}" fxLayoutAlign.lt-sm='center center' fxLayout.lt-sm='column'>
            <span>Contact</span>
        </div>
        <div class="description" [ngStyle.lt-md]="{'font-size':'0.8rem','text-align': 'justify', 'line-height': '1.5rem'}" [ngStyle.lt-sm]="{'font-size':'0.6rem','text-align': 'justify', 'line-height': '1.5rem'}">
            <div style="font-weight: 500; color: black;">
                Chhatrapati Shahu Maharaj Research, Training and Human Development Institute (SARTHI), Pune
            </div>
            <div>
                (An Autonomous Institute of Government of Maharashtra)
            </div>
            <div>
                <span style="font-weight: 500; color: black;">Address:</span>
                <span>
                    Balchitravani, C T Survey Number 173,  B/1, Gopal Ganesh Agarkar Road, Pune 411 004.
                </span>
            </div>
            <div>
                <span style="font-weight: 500; color: black;">Email ID :</span>
                <a style="color: #f67e22;" href="mailto:sarthipune@gmail.com">
                    sarthipune@gmail.com
                </a>
            </div>
        </div>
    </div>
</div>
