<div class="container">
  <div class="admin-container" fxLayout='column' fxFlexAlign='center center' [ngStyle.lt-md]="{'padding':'3rem'}"
    [ngStyle.lt-sm]="{'padding':'1.5rem'}">
    <div class="header" [ngStyle.lt-md]="{'font-size':'1.5rem', 'line-height':'2.5rem'}"
      fxLayoutAlign.lt-sm='center center' fxLayout.lt-sm='column'>
      <span>{{pageStats?.bodyTitle}}</span>
    </div>
    <div class="description" [ngStyle.lt-md]="{'font-size':'0.8rem','text-align': 'justify', 'line-height': '1.5rem'}"
      [ngStyle.lt-sm]="{'font-size':'0.6rem','text-align': 'justify', 'line-height': '1.5rem'}">
      <div style="font-weight: 500; color: black;">
        <div [innerHTML]="pageStats?.bodyContent"></div>
      </div>
      <div>
        (An Autonomous Institute of Government of Maharashtra)
      </div>
      <div>
        <span style="font-weight: 500; color: black;">Address:</span>
        <span>
          Balchitravani, C T Survey Number 173, B/1, Gopal Ganesh Agarkar Road, Pune 411 004.
        </span>
      </div>
      <div>
        <span style="font-weight: 500; color: black;">Email ID :</span>
        <a style="color: #f67e22;" href="mailto:sarthipune@gmail.com">
          sarthipune@gmail.com
        </a>
      </div>
    </div>
    <div class="mapouter" fxLayoutAlign="center center">
      <div class="gmap_canvas">
        <iframe width="100%" height="500" id="gmap_canvas"
          src="https://maps.google.com/maps?q=sarthi%20pune&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
  </div>
</div>
