<div class="navItems" [ngStyle.lt-sm]="{'top':'10%'}" [ngStyle.lt-md]="{'top':'15%'}">
    <div class="header-text" fxLayout="column" fxLayout="column"
        [ngStyle.lt-md]="{ 'line-height':'0', 'font-size':'1.5rem', 'margin-bottom':'1rem'}">
        <div>
            <span [ngStyle.lt-md]="{'font-size':'1.5rem', 'margin-top':'0', 'line-height':'3rem'}">Administration &
                Management</span>
        </div>
        <div>
            <img alt="line" src="../../assets/images/line.png ">
        </div>
    </div>
    <div class="sub-text" [ngStyle.lt-sm]="{ 'line-height':'2rem', 'font-size':'1rem', 'max-width':'100%'}">
        <span>
            Sed ut perspiciatis omnis iste natus error sit accusantium doloremque Sed ut perspiciatis omnis iste natus
            error sit
            accusantium doloremque
        </span>
    </div>
</div>
<div class="container">
    <div class="admin-container" fxLayout='column' fxFlexAlign='center center' [ngStyle.lt-md]="{'padding':'3rem'}"
        [ngStyle.lt-sm]="{'padding':'1.5rem'}">
        <div class="header" [ngStyle.lt-md]="{'font-size':'1.5rem', 'line-height':'2.5rem'}"
            fxLayoutAlign.lt-sm='center center' fxLayout.lt-sm='column'>
            <span>Audit</span>
        </div>
        <!-- <div class="description" [ngStyle.lt-md]="{'font-size':'0.8rem','text-align': 'justify', 'line-height': '1.5rem'}" [ngStyle.lt-sm]="{'font-size':'0.6rem','text-align': 'justify', 'line-height': '1.5rem'}">
            <div>
                <span>
                    Chhatrapati Shahu Maharaj Research Training and Human Development Institute (SARTHI),
      Pune is registered under Company Act, 2013 under Section 8 as Non-Profit government company for research, policy advocacy, training etc.
      for socio-economic and education development of Maratha, Maratha-Kunbi, Kunbi-Maratha, Kunbi community in Maharashtra State.
      Our organisation thrust areas includes research, policy advocacy to government, training etc. and guidance to rural population,
      particularly the farmers whose livelihood is dependent on agriculture.
                </span>
            </div>
            <div>
                <span>
                    Chhatrapati Shahu Maharaj Research Training and Human Development Institute (SARTHI),
      Pune is registered under Company Act, 2013 under Section 8 as Non-Profit government company for research, policy advocacy, training etc.
      for socio-economic and education development of Maratha, Maratha-Kunbi, Kunbi-Maratha, Kunbi community in Maharashtra State.
      Our organisation thrust areas includes research, policy advocacy to government, training etc. and guidance to rural population,
      particularly the farmers whose livelihood is dependent on agriculture.
                </span>
            </div>
        </div> -->
        <div class="audit-header" fxLayoutAlign='center center' [ngStyle.lt-md]="{ 'padding':'2px'}">
            <span [ngStyle.lt-md]="{ 'font-size':'0.8rem', 'line-height':'1.4', 'padding':'10px'}">Audit Report
                2018-2019</span>
        </div>
        <table id="audit-report-table" ngClass.lt-md='table-small'>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Title</th>
                    <th>Link for Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Balance Sheet 2018-19</td>
                    <td class="download">
                        <a href="../../assets/files/accounts/Balance Sheet 2018-19.pdf" download>
                            Download
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Tax Audit Report 2018-19</td>
                    <td class="download">
                        <a href="../../assets/files/accounts/Tax Audit Report 2018-19.pdf" download>
                            Download
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Auditors Report</td>
                    <td class="download">
                        <a href="../../assets/files/accounts/Auditors Report  2018-19.pdf" download>
                            Download
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
