<div class="container"
  [ngStyle]="{'background-color': isHome ? 'white': '#e5e5e5', 'padding': isHome ? '0' : '3vw 9vw'}">
  <div class="admin-container" fxLayout='column' fxLayoutAlign='center center' [ngStyle.lt-md]="{'padding':'3rem'}"
    [ngStyle.lt-sm]="{'padding':'1.5rem'}">
    <div class="header" [ngStyle.lt-md]="{'font-size':'1.5rem', 'line-height':'2.5rem'}"
      fxLayoutAlign='center flex-start' fxLayoutAlign.lt-sm='center center' fxLayout.lt-sm='column' *ngIf="!isHome">
      <span>{{pageStats?.bodyTitle}}</span>
    </div>
    <div [innerHTML]="pageStats?.bodyContent"></div>
    <div class="w3-content w3-section" style=" height:65vh; max-width: 10vw; " fxLayoutAlign="center center">
      <img *ngFor="let gallery of photoGallery" class="mySlides" style="height:100%; width:100%; object-fit: contain;"
        [alt]="gallery.originalName" [src]="apiUrl + '/' + gallery.filename" />
    </div>
    <div class="w3-center" fxLayoutAlign="center center" fxLayout="column">
      <span style="    padding: 10px; font-size: 1rem;" id="count">
        {{slideIndex}} of {{photoGallery.length}}
      </span>
      <div class="w3-section" fxLayoutGap="5px">
        <button class="btn" (click)="plusDivs(-1)">
          ❮ Prev
        </button>
        <button class="btn" (click)="plusDivs(1)">
          Next ❯
        </button>
      </div>
    </div>
  </div>
</div>
