<div class="navItems" [ngStyle.lt-sm]="{'top':'15%'}" [ngStyle.lt-md]="{'top':'25%'}">
    <div class="header-text" fxLayout="column" fxLayout="column" [ngStyle.lt-md]="{ 'line-height':'0', 'font-size':'2rem', 'margin-bottom':'1rem'}">
        <div>
            <span [ngStyle.lt-md]="{'font-size':'2rem', 'margin-top':'0', 'line-height':'3rem'}">Photo Gallery</span>
        </div>
        <div>
            <img alt="line" src="../../assets/images/line.png ">
        </div>
    </div>
    <div class="sub-text" [ngStyle.lt-sm]="{ 'line-height':'2rem', 'font-size':'1rem', 'max-width':'100%'}">
        <span>
            Sed ut perspiciatis omnis iste natus error sit accusantium doloremque Sed ut perspiciatis omnis iste natus error
      sit
      accusantium doloremque
        </span>
    </div>
</div>
<div class="container">
    <div class="admin-container" fxLayout='column' fxLayoutAlign='center center' [ngStyle.lt-md]="{'padding':'3rem'}" [ngStyle.lt-sm]="{'padding':'1.5rem'}">
        <div class="header" [ngStyle.lt-md]="{'font-size':'1.5rem', 'line-height':'2.5rem'}" fxLayoutAlign='center flex-start' fxLayoutAlign.lt-sm='center center' fxLayout.lt-sm='column'>
            <span>Photo</span>
        </div>
        <div class="w3-content w3-section" style="max-width:500px" fxLayoutAlign="center center">
            <img class="mySlides" src="../../assets/images/photoGallery/Shahu_Maharaj_1_1.jpg" style="width:100%">
            <img class="mySlides" src="../../assets/images/photoGallery/Shahu_Maharaj_2_1.jpg" style="width:100%">
            <img class="mySlides" src="../../assets/images/photoGallery/Shahu_Maharaj_3_1.jpg" style="width:100%">
            <img class="mySlides" src="../../assets/images/photoGallery/Shahu_Maharaj_4_1.jpg" style="width:100%">
            <img class="mySlides" src="../../assets/images/photoGallery/Shahu_Maharaj_5_1.jpg" style="width:100%">
        </div>
        <div class="w3-center" fxLayoutAlign="center center" fxLayout="column">
            <span style="    padding: 10px; font-size: 1rem;" id="count">
                {{slideIndex}} of 5
            </span>
            <div class="w3-section" fxLayoutGap="5px">
                <button class="btn" (click)="plusDivs(-1)">
                    ❮ Prev
                </button>
                <button class="btn" (click)="plusDivs(1)">
                    Next ❯
                </button>
            </div>
        </div>
    </div>
</div>