<div class="navItems" [ngStyle.lt-sm]="{'top':'10%'}" [ngStyle.lt-md]="{'top':'10%'}">
    <div class="header-text" fxLayout="column" fxLayout="column" [ngStyle.lt-md]="{ 'line-height':'0', 'font-size':'1.5rem', 'margin-bottom':'1rem'}">
        <div>
            <span [ngStyle.lt-md]="{'font-size':'1.5rem', 'margin-top':'0', 'line-height':'3rem'}">Caste Certificates</span>
        </div>
        <div>
            <img alt="line" src="../../assets/images/line.png ">
        </div>
    </div>
    <div class="sub-text" [ngStyle.lt-sm]="{ 'line-height':'2rem', 'font-size':'1rem', 'max-width':'100%'}">
        <span>
            Sed ut perspiciatis omnis iste natus error sit accusantium doloremque Sed ut perspiciatis omnis iste natus error sit
    accusantium doloremque
        </span>
    </div>
</div>
<div class="container">
    <div class="admin-container" fxLayout='column' fxFlexAlign='center center' [ngStyle.lt-md]="{'padding':'3rem'}" [ngStyle.lt-sm]="{'padding':'1.5rem'}">
        <div class="header" [ngStyle.lt-md]="{'font-size':'1.5rem', 'line-height':'2.5rem'}" fxLayoutAlign.lt-sm='center center' fxLayout.lt-sm='column'>
            <span>Caste</span>
        </div>
        <div class="audit-header" fxLayoutAlign='center center' [ngStyle.lt-md]="{ 'padding':'2px'}">
            <span [ngStyle.lt-md]="{ 'font-size':'0.6rem', 'line-height':'1.4', 'padding':'10px'}">
                Information to obtained Maratha, Kunbi, Kunbi-Maratha, Maratha-Kunbi Caste Certificate
            </span>
        </div>
        <table id="audit-report-table" ngClass.lt-md='table-small'>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Title</th>
                    <th>Link for Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        B Maratha, Kunbi, Kunbi-Maratha, Maratha-Kunbi Caste Certificate
                    </td>
                    <td class="download">
                        <a href="../../assets/files/casteCertificate/Maratha-Caste-Certificate_02_07_2020_0.pdf" download>
                            Download
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Other Certificates</td>
                    <td class="download">
                        <a href="../../assets/files/casteCertificate/Other-Certificates_02_07_2020_0.pdf" download>
                            Download
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
