.navItems {
	position: absolute;
	top: 45%;
	z-index: 5000;
	//width: 100%;
	padding: 0 9vw;
	font-weight: 500;
	span {
		//font-size: 2.5rem;
		color: white;
		//font-weight: 700;
		//line-height: 5vw;
	}
	img {
		width: 150px;
		padding: 2rem 0 0 0;
	}
}

.header-text {
	line-height: 50px;
	margin-top: 3rem;
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 2.5rem;
	// span {
	//     font-weight: 700;
	//     font-size: 2.5rem;
	// }
}

.sub-text {
	line-height: 2rem;
	font-size: 1.2rem;
	max-width: 60vw;
}

.container {
	padding: 2rem 0;
}

.header {
	padding: 0 3rem;
	font-size: 3.4rem;
	font-weight: 700;
	padding-bottom: 2vw;
	line-height: 5rem;
	color: #f67e22;
	// margin-left: 6%;
}

.description {
	font-size: 1.25rem;
	color: #808080;
	font-weight: 400;
	line-height: 2.5rem;
	div {
		margin-bottom: 2.5rem;
	}
}

.admin-container {
	background-color: white;
	border-radius: 2rem;
	padding: 6rem;
}

.main-container {
	margin: 50px 0;
	width: 100%;
}

.notice-header {
	font-size: 2rem;
	font-weight: 500;
	padding: 25px;
}

.notice-main-container {
	background-color: white;
	border: #c0c0c033 solid 1px;
	border-radius: 15px;
	box-shadow: 0px 10px 15px 5px #e5e5e5;
	padding: 20px;
	height: 100%;
}

.notice-details-container {
	max-height: 85%;
	overflow: scroll;
}

.notice-container {
	border-radius: 15px;
	margin: 30px;
	padding: 10px;
	box-shadow: 0px 10px 15px 5px #eeeeee;
	&:hover {
		background-color: #3e5063;
		.notice-details {
			span {
				color: white;
			}
			.event-time {
				//background-color: #F3F3F31F;
				background-color: rgba(243, 243, 243, 0.12);
			}
		}
	}
}

.notice-date {
	background-color: white;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	margin-right: 20px;
	line-height: 40px;
}

.month {
	font-size: 16px;
	font-weight: 500;
}

.day {
	color: #f67e22;
	font-weight: 500;
	font-size: 45px;
}

.notice-details {
	height: 60px;
	max-width: 30rem;
	line-height: 20px;
}

.event-details {
	font-weight: 600;
	font-size: 1rem;
	padding: 10px 0;
	line-height: 30px;
}

.event-time {
	font-size: 16px;
	font-weight: 500;
	background-color: #f3f3f3;
	border-radius: 5px;
	padding: 10px;
}

.Announcements-container {
	background-color: white;
	border: #c0c0c033 solid 1px;
	border-radius: 15px;
	box-shadow: 0px 10px 15px 5px #e5e5e5;
	// padding: 1rem 3.5rem;
	height: 100%;
	img {
		width: 8.5rem;
		height: 8.5rem;
		object-fit: contain;
	}
}

.Announcements-header {
	font-size: 2rem;
	font-weight: 500;
	//margin-bottom: 40px;
	padding: 25px;
}

.Announcements-title {
	margin-bottom: 45px;
}

.Announcements-sub-title {
	margin-bottom: 15px;
	font-size: 1rem;
	font-weight: 500;
	line-height: 2rem;
}

.Announcements-description {
	font-size: 1rem;
	font-weight: 300;
	//max-width: 17rem;
	img {
		height: 4rem;
		width: 4rem;
		// padding: 5px;
	}
}

.announcements {
	margin-bottom: 3.5%;
	border-radius: 15px;
	margin: 30px;
	padding: 22px;
	box-shadow: 0px 10px 15px 5px #eeeeee;
}

.check-here {
	a {
		text-decoration: none;
		color: dodgerblue;
		font-weight: 600;
		font-size: 1rem;
		// margin-left: 10px;
	}
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	height: 100vh;
	width: 100vw;
	transform: scale(0);
	transition: all 0.5s ease;
	background-color: white;
	&.active {
		transform: scale(1);
	}
	.modal-body {
		position: relative;
		height: 90vh;
		min-width: 95vw;
		background-color: white;
		padding: 2rem 1rem;
		border-radius: 20px;
		text-align: justify;
		color: #f67e22;
		overflow: scroll;
		box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
			0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
		h1,
		h2 {
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 1.5rem;
			line-height: 3rem;
			&.title {
				text-align: center;
			}
		}
		h2 {
			margin: 20px 0;
			font-size: 1.5rem;
			line-height: 2rem;
		}
		.rules {
			font-size: 1rem;
			line-height: 1.8rem;
			font-weight: 400;
			color: #3e5063;
			margin-bottom: 0.5rem;
		}
	}
}

.objectives-card {
	margin: 2rem 0;
	transition: all 0.1s ease-in-out !important;
	.item {
		padding: 20px;
		height: 100%;
		margin: 30px;
		border-radius: 10px;
		color: #f67e22;
		// color: rgba($color: #f67e22, $alpha: 1);
		box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
			0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
		&:hover {
			border: 2px solid #fb6003;
			transform: scale(1.02);
			transition: transform 0.2s;
		}
		.icon {
			color: #f67e22;
			margin-bottom: 10px;
		}
	}
}

.cross-icon {
	position: fixed;
	top: 7vh;
	right: 3rem;
	font-size: 2rem;
	color: #f67e22;
}

table {
	border-collapse: collapse;
	width: 100%;
	background-color: white;
	td,
	th {
		height: 4.5rem;
	}
	th {
		font-size: 1.25rem;
		line-height: 2rem;
		font-weight: 600;
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: center;
		color: #404040;
		padding: 0 10px;
	}
	td {
		font-size: 1rem;
		font-weight: 400;
		padding: 12px;
		text-align: center;
		color: #7a7a7a;
	}
	tr {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: center;
		color: #7a7a7a;
		border: solid #e8e6e6 1px;
		// &:last-child {
		//     td {
		//         font-weight: bold !important;
		//         color: #404040;
		//         font-size: 1.2rem;
		//     }
		// }
	}
	a {
		text-decoration: none;
		color: #f67e22;
	}
}

.table-header {
	background: #3e4350;
	padding: 1rem 4.4rem;
	line-height: 1.8rem;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
	text-align: center;
	span {
		color: white;
		font-size: 1.2rem;
		font-weight: 500;
	}
}

@media screen and (max-width: 991px) {
	.notice-details-container {
		max-height: 35rem;
	}
}

::ng-deep .ck-editor__editable {
	min-height: 200px !important;
	width: 92vw;
}
