.Announcements-container {
	background-color: white;
	border: #c0c0c033 solid 1px;
	border-radius: 15px;
	box-shadow: 0px 10px 15px 5px #e5e5e5;
	padding: 20px;
	height: 100%;
	img {
		width: 8.5rem;
		height: 8.5rem;
		object-fit: contain;
	}
}

.Announcements-header {
	font-size: 2rem;
	font-weight: 500;
	//margin-bottom: 40px;
	padding: 25px;
}

.Announcements-title {
	margin-bottom: 45px;
}

.Announcements-sub-title {
	margin-bottom: 15px;
	font-size: 0.8rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.Announcements-description {
	font-size: 1rem;
	font-weight: 300;
	//max-width: 17rem;
	img {
		height: 4rem;
		width: 4rem;
		// padding: 5px;
	}
}

.announcements {
	margin-bottom: 3.5%;
	border-radius: 15px;
	margin: 30px;
	padding: 22px;
	box-shadow: 0px 10px 15px 5px #eeeeee;
}

.main-container {
	margin: 50px 0;
}

.check-here {
	a {
		text-decoration: none;
		color: dodgerblue;
		font-weight: 600;
	}
}

.notice-header {
	font-size: 2rem;
	font-weight: 500;
	padding: 25px;
}

.notice-details-container {
	max-height: 85%;
	overflow: scroll;
}
