.main-container {
  height: 100%;
  min-width: 100vw;
  background-image: url("../../assets/images/aboutus-1.png");
  background-repeat: no-repeat;
  //position: absolute;
  top: 0;
  background-color: #E5E5E5;
}

.sub-container {
  height: 100%;
  min-width: 100vw;
  background-image: url("../../assets/images/aboutus-2.png");
  background-repeat: no-repeat;
  position: relative;

}

.container {
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  //left: 85rem;
  //top: 20rem;
  right: 10px;
  top: 21rem;
}

//:host ::ng-deep app-header {
//  .nav-items {
//    a {
//      &:after {
//        background-color: white;
//      }
//    }
//  }
//}
