<!-- <div class="main-container">
  <div class="sub-container">
    <div class="container" fxHide.lt-md>
      <img alt="logo" src="../../assets/images/footerdesign.png "/>
    </div>
  </div>
</div> -->

<div class="header">
  <div class="header-text-c">
    <div class="header-text" fxLayout="column" [ngStyle.lt-md]="{'font-size':'2rem', 'margin-bottom':'1rem'}">
      <span [ngStyle.lt-md]="{'font-size':'2rem'}">{{pageStats?.header}}</span>
      <div>
        <img alt="line" src="../../assets/images/line.png ">
      </div>
    </div>
    <div class="sub-text" [ngStyle.lt-sm]="{ 'line-height':'2rem', 'font-size':'1rem', 'max-width':'100%'}">
      <span [innerHTML]="pageStats?.subheaderContent"></span>
    </div>
  </div>

  <!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255, 255, 255, 0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255, 255, 255, 0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(52, 70, 88, 0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(229, 229, 229, 1)" />
      </g>
    </svg>
  </div>
  <!--Waves end-->

</div>
