<div class="container" fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
  <div class="table-header" fxLayoutAlign='center center' [ngStyle.lt-md]="{ 'padding':'2px'}">
    <span [ngStyle.lt-md]="{ 'font-size':'0.8rem', 'line-height':'1.4', 'padding':'10px'}">
      List of E - Books
    </span>
  </div>
  <div class="table-container">
    <table id="books">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Name</th>
          <th>Author</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{book.sr_no}}</td>
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>{{book.count}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
