<div class="container">
  <div class="admin-container" fxLayout='column' fxFlexAlign='center center' [ngStyle.lt-md]="{'padding':'3rem'}"
    [ngStyle.lt-sm]="{'padding':'1.5rem'}">
    <div class="header" [ngStyle.lt-md]="{'font-size':'1.5rem', 'line-height':'2.5rem'}"
      fxLayoutAlign.lt-sm='center center' fxLayout.lt-sm='column'>
      <span>Department</span>
    </div>
    <div class="description" [ngStyle.lt-md]="{'font-size':'0.8rem','text-align': 'justify', 'line-height': '1.5rem'}"
      [ngStyle.lt-sm]="{'font-size':'0.6rem','text-align': 'justify', 'line-height': '1.5rem'}">
      <div>
        <span>
          Chhatrapati Shahu Maharaj Research Training and Human Development Institute (SARTHI),
          Pune is registered under Company Act, 2013 under Section 8 as Non-Profit government company for
          research, policy advocacy, training etc.
          for socio-economic and education development of Maratha, Maratha-Kunbi, Kunbi-Maratha, Kunbi
          community in Maharashtra State.
          Our organisation thrust areas includes research, policy advocacy to government, training etc. and
          guidance to rural population,
          particularly the farmers whose livelihood is dependent on agriculture.
        </span>
      </div>
      <div>
        <span>
          Chhatrapati Shahu Maharaj Research Training and Human Development Institute (SARTHI),
          Pune is registered under Company Act, 2013 under Section 8 as Non-Profit government company for
          research, policy advocacy, training etc.
          for socio-economic and education development of Maratha, Maratha-Kunbi, Kunbi-Maratha, Kunbi
          community in Maharashtra State.
          Our organisation thrust areas includes research, policy advocacy to government, training etc. and
          guidance to rural population,
          particularly the farmers whose livelihood is dependent on agriculture.
        </span>
      </div>
    </div>
  </div>
</div>
