/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700,800,900&display=swap");
@import "~lightgallery/scss/lightgallery";

$orange: #f67e22;
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif !important;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

html,
body {
	height: 100%;
	zoom: 1;
}

.body {
	::ng-deep {
		font-family: Montserrat, "Helvetica Neue", sans-serif;
	}
}

//Custom ScrollBar start ------>
::-webkit-scrollbar {
	width: 6px;
}

/* Track */

::-webkit-scrollbar-track {
	//background: #f1f1f1;
	background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 3px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

//Custom ScrollBar end ------>
.w-25 {
	width: 25vw;
}

.w-50 {
	width: 50vw;
}

.w-75 {
	width: 75vw;
}

.w-100 {
	width: 100vw;
}

body {
	max-width: 100vw;
	overflow-x: hidden;
}

.d-flex {
	display: flex !important;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.flex-column {
	flex-direction: column;
}

.d-none {
	display: none !important;
}

.owl-carousel .owl-item {
	width: 100vw;
	height: 60vh;
	img {
		height: 100%;
		width: 100%;
		object-fit: fill;
		object-position: center center;
	}
}

.cursor-pointer {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: $orange !important;
	margin: 20px 0;
	font-size: 1.5rem;
	line-height: 2rem;
}

.owl-theme .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
	transform: translate(0, -50%);
	.owl-prev,
	.owl-next {
		background: transparent;
		font-size: max(10vw, 5rem);
		color: $orange;
	}
	[class*="owl-"]:hover {
		background: transparent;
	}
}
