<div #sub_section class="directors-container flex-center flex-column">
  <div class="directors-board">
    <span [ngStyle.lt-md]="{'font-size':'2rem', 'line-height': '3rem'}">GR of Board Of Directors</span>
  </div>
  <div class="flex-center directors-board-description">
    <!-- <span [ngStyle.lt-md]="{'font-size':'1rem', 'line-height': '2rem'}">
            I inherited my grandparents house which needed desperate repairs before i could use it or rent it. The ongoing
      costs even before fixing I inherited my grandparents house which
        </span> -->
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" style="width: 100%;">
    <div *ngFor="let tile of bod" class="mat-card mat-elevation-z4 bod_image" fxLayoutAlign="center center"
      fxLayout="column">
      <img mat-card-avatar [src]="'../../assets/images/bod/'+tile.image+'.png'" alt="Photo of board of director">
      <mat-card-title>{{tile.name}}</mat-card-title>
      <mat-card-subtitle>{{tile.designation}}</mat-card-subtitle>
    </div>
  </div>
</div>
