<div class="navItems">
  <div class="header-text" fxLayout="column">
      <span>
        Skill Development <br>& Training
      </span>
    <img alt="line" src="../../assets/images/line.png "/>
  </div>
  <div class="sub-text">
       <span style="font-size: 20px;">
        Simply The Most Featured Rich HTML5 Learning Management System
      </span>
  </div>
</div>
<owl-carousel-o [options]="customOptions">
  <div>
    <ng-template carouselSlide>
      <img alt="bg" class="header-bg" src="../../assets/images/bg.png "/>
    </ng-template>
  </div>
  <ng-template carouselSlide><img alt="bg" class="header-bg" src="../../assets/images/bg.png "/></ng-template>
  <ng-template carouselSlide><img alt="bg" class="header-bg" src="../../assets/images/bg.png "/></ng-template>
</owl-carousel-o>
<div fxLayout="row" fxLayoutAlign="space-evenly center" class="main-container" fxLayout.lt-md="column" >
  <div class="notice-main-container">
    <div class="notice-header">
        <span>
        Notice Board
      </span>
    </div>
    <div class="notice-details-container">
      <div class="notice-container">
        <a fxLayout="row" fxLayoutAlign="flex-start center">
          <div class="notice-date" fxLayout="column" fxLayoutAlign="center center">
          <span class="month">
          May
        </span><span class="day">
          31
        </span>
          </div>
          <div class="notice-details" fxLayout="column" fxLayoutAlign="center flex-start ">
        <span class="event-details">
          Memorial day holiday 2021
        </span><span class="event-time">
          12:00 AM
        </span>
          </div>
        </a>
      </div>
      <div class="notice-container">
        <a fxLayout="row" fxLayoutAlign="flex-start center">
          <div class="notice-date" fxLayout="column" fxLayoutAlign="center center">
          <span class="month">
          June
        </span><span class="day">
          11
        </span>
          </div>
          <div class="notice-details" fxLayout="column" fxLayoutAlign="center flex-start">
        <span class="event-details">
          Summer A 2021 classes (4 & 8 week) begins
        </span><span class="event-time">
          12:00 AM
        </span>
          </div>
        </a>
      </div>
      <div class="notice-container">
        <a fxLayout="row" fxLayoutAlign="flex-start center">
          <div class="notice-date" fxLayout="column" fxLayoutAlign="center center">
          <span class="month">
          SEP
        </span><span class="day">
          25
        </span>
          </div>
          <div class="notice-details" fxLayout="column" fxLayoutAlign="center flex-start">
        <span class="event-details">
          Summer 2 2021 (6 week)
        </span><span class="event-time">
          12:00 AM
        </span>
          </div>
        </a>
      </div>
      <div class="notice-container">
        <a fxLayout="row" fxLayoutAlign="flex-start center">
          <div class="notice-date" fxLayout="column" fxLayoutAlign="center center">
          <span class="month">
          May
        </span><span class="day">
          31
        </span>
          </div>
          <div class="notice-details" fxLayout="column" fxLayoutAlign="center flex-start">
        <span class="event-details">
          Memorial day holiday 2021
        </span><span class="event-time">
          12:00 AM
        </span>
          </div>
        </a>
      </div>
    </div>
  </div>
     <div class="strength-container">
       <div class="strength-header">
        <span>
        Our Strength
      </span>
       </div>
       <div class="strength-title">
      <span>
        Sed ut perspiciatis omnis iste natus error sit accusantium doloremque
      </span>
       </div>
       <div fxLayoutGap="50px" fxLayout.lt-md="column">
         <div fxLayout="row" fxLayoutAlign="center center">
           <div>
             <img alt="bg" src="../../assets/images/strength-1.png "/>
           </div>
           <div fxLayout="column">
             <span>EXCELLENT FALCUTY</span>
             <span>Sed ut perspiciatis omnis iste natus error sit accusantium doloremque</span>
           </div>
         </div>
         <div fxLayout="row" fxLayoutAlign="center center">
           <div>
             <img alt="bg" src="../../assets/images/strength-2.png "/>
           </div>
           <div fxLayout="column">
             <span>INDUSTRY LEADER</span>
             <span>Sed ut perspiciatis omnis iste natus error sit accusantium doloremque</span>
           </div>
         </div>
         <div fxLayout="row" fxLayoutAlign="center center">
         <div>
           <img alt="bg" src="../../assets/images/strength-3.png "/>
         </div>
         <div fxLayout="column">
           <span>THOUSAND STUDENTS</span>
           <span>Sed ut perspiciatis omnis iste natus error sit accusantium doloremque</span>
         </div>
       </div>
       </div>
     </div>
   </div>


