.navItems {
    position: absolute;
    top: 20%;
    z-index: 5000;
    //width: 100%;
    padding: 0 5vw;
    font-weight: 500;
    span {
        //font-size: 4.5rem;
        color: white;
        //font-weight: 700;
        //line-height: 5vw;
    }
    img {
        width: 150px;
        padding: 2rem 0 0 0;
    }
}

.header-text {
    line-height: 80px;
    margin-top: 10vw;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 4.5rem;
    // >div {
    //     line-height: 2rem;
    // }
}

.sub-text {
    //position: relative;
    // max-width: 60%;
    line-height: 2.5rem;
    font-size: 1.5rem;
    max-width: 60vw;
}

.container {
    padding: 5.5vw 9vw;
    background-color: #E5E5E5;
}

.header {
    font-size: 3.4rem;
    font-weight: 700;
    padding-bottom: 2vw;
    line-height: 5rem;
    &:after {
        content: 'Statistics';
        margin-left: 10px;
        color: #f67e22;
    }
}

.description {
    font-size: 1.25rem;
    color: #808080;
    font-weight: 400;
    line-height: 2.5rem;
    div {
        margin-bottom: 2.5rem;
    }
}

.admin-container {
    background-color: white;
    border-radius: 2rem;
    padding: 6rem;
}

.audit-header {
    background: #3E4350;
    height: 5.1rem;
    padding: 1rem 4.4rem;
    margin-top: 4rem;
    line-height: 1.8rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    span {
        color: white;
        font-size: 1.6rem;
        font-weight: 500;
    }
}

.download {
    color: #F67E22 !important;
    font-size: 1.4rem;
    font-weight: 500 !important;
    &:before {
        content: '\2B73';
        color: #F67E22;
        font-size: 1.5rem;
        font-weight: 800 !important;
        padding: 15px;
    }
}

.table {
    width: 80vw;
}

#audit-report-table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

#audit-report-table td,
#audit-report-table th {
    height: 7.5rem;
}

#audit-report-table a {
    text-decoration: none;
    color: #F67E22;
}

//#audit-report-table tr:nth-child(even){background-color: #f2f2f2;}
//#audit-report-table tr:hover {background-color: #ddd;}
#audit-report-table th {
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #404040;
    padding: 0 10px;
}

#audit-report-table td {
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #7A7A7A;
}

#audit-report-table tr {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #7A7A7A;
    border: solid #E8E6E6 1px;
}

.table-small {
    th,
    td {
        font-size: 1rem !important;
    }
}