<div class="navItems" [ngStyle.lt-sm]="{'top':'15%'}" [ngStyle.lt-md]="{'top':'25%'}">
    <div class="header-text" fxLayout="column" [ngStyle.lt-md]="{ 'line-height':'0', 'font-size':'2rem', 'margin-bottom':'1rem'}">
        <div>
            <span [ngStyle.lt-md]="{'font-size':'2rem', 'margin-top':'0'}">About Us</span>
        </div>
        <div>
            <img alt="line" src="../../assets/images/line.png ">
        </div>
    </div>
    <div class="sub-text" [ngStyle.lt-sm]="{ 'line-height':'2rem', 'font-size':'1rem', 'max-width':'100%'}">
        <span>
            Sed ut perspiciatis omnis iste natus error sit accusantium doloremque Sed ut perspiciatis omnis iste natus error sit
    accusantium doloremque
        </span>
    </div>
</div>
<div class="container">
    <div class="admin-container" fxLayout='column' fxFlexAlign='center center' [ngStyle.lt-md]="{'padding':'3rem'}" [ngStyle.lt-sm]="{'padding':'1.5rem'}">
        <div class="header" [ngStyle.lt-md]="{'font-size':'2rem'}" fxLayoutAlign.lt-sm='center center' fxLayout.lt-sm="column">
            <span>Sarthi -</span>
        </div>
        <div class="description body" [ngStyle.lt-md]="{'font-size':'0.8rem','text-align': 'justify', 'line-height': '1.5rem'}" [ngStyle.lt-sm]="{'font-size':'0.6rem','text-align': 'justify', 'line-height': '1.5rem'}">
            <ul>
                <li>
                    To undertake various research, training, human development related activities for social, educational, economic and cultural development and to suggest various measures to the government for target groups i.e. Maratha, Kunbi, Kunbi- Maratha and Maratha-Kunbi.
                </li>
                <li>
                    To develop and maintain ‘SARTHI’ institute as a premier research, training and human development institute in India
                </li>
                <li>
                    <ul class="sublist">
                        For social, educational, economic and cultural development of the target group:
                        <li>
                            Undertaking various surveys, research including action research and evaluation research.
                        </li>
                        <li>
                            Skills development training and capacity building for employment, self-employment, entrepreneurship, establishing and developing industrial and agricultural units; activities to establish, develop, maintain and administer data banks, libraries, knowledge
                            banks; study and coordination circles for various fields including agriculture and cooperative sector.
                        </li>
                        <li>
                            Capacity building of various training and educational institutes working in different sectors/areas.
                        </li>
                        <li>
                            Establish guidance and counselling centres for students, scholars, entrepreneurs, farmers and women.
                        </li>
                        <li>
                            To institute and grant different scholarships, fellowships, stipend and awards.
                        </li>
                    </ul>
                </li>
                <LI>
                    <ul class="sublist">
                        Undertake action research and conduct various programs, activities and various educational & awareness programs including:
                        <li>
                            Constitutional duties and rights of citizens.
                        </li>
                        <li>
                            National integration and scientiﬁc temperament.
                        </li>
                        <li>
                            Promotion of brotherhood, communal harmony and peaceful co-existence. Equity and social justice
                        </li>
                        <li>
                            Removal of gender bias, caste bias, race bias and superstitions.
                        </li>
                        <li>
                            Promotion of cleanliness and sanitation, inter-caste marriages, group and simple marriages, de-addiction and awareness of substance abuse in society, women empowerment.
                        </li>
                        <li>
                            Eradication of dowry, jaat panchayats, social-boycott and domestic violence.
                        </li>
                    </ul>
                </LI>
            </ul>
        </div>
        <div class="sub-header" [ngStyle.lt-md]="{'font-size':'1rem'}" fxLayoutAlign.lt-sm='center center'>
            <span>
                Some of the activities to achieve the objectives of the institute:
            </span>
        </div>
        <div class="description body" [ngStyle.lt-md]="{'font-size':'0.8rem','text-align': 'justify', 'line-height': '1.5rem'}" [ngStyle.lt-sm]="{'font-size':'0.6rem','text-align': 'justify', 'line-height': '1.5rem'}">
            <ul>
                <li>
                    Conducting programs such as Communication skills, Soft skills, General awareness, Linguistic Competence including Proficiency in English, Confidence building, Career guidance, Counselling, Skill aptitude, etc. for the students.
                </li>
                <li>
                    Organizing various competitions and other events for the students of various levels and grant Awards, Prizes, Citations, etc. to the deserving students, with an aim to inspire the youngsters to become better citizens of India.
                </li>
                <li>
                    Undertake and implement special and pilot projects such as ‘Kisan Mitra’, Kaushalya Vikas Doot, Tara Doot (Women Empowerment Doot), Sant Gadge Baba Doot (Swacchata & Vyasan Mukti Doot), Sanvidhan Doot, Savitri Doot, etc. from time to time, for creating
                    awareness on various issues.
                </li>
                <li>
                    Implement Residential and Non- Residential Special Coaching programs for different job opportunities
                </li>
                <li>
                    To establish a Centre of Excellence for coordination of research, extension/dissemination and training in the field of agriculture including allied fields such as cooperative initiatives, processing, storage, value addition, branding, forward and backward
                    linkages, marketing, export etc. of agricultural products
                </li>
                <li>
                    Undertaking and promoting rural tourism, agro-tourism, agro-forestry tourism and forestry tourism on its own or in collaboration with other agencies and to create awareness.
                </li>
                <li>
                    To create Land Cadre for awareness and education for conservation and sustainable use of agriculture land in the State.
                </li>
                <li>
                    To undertake schemes/drives and sponsor special Tutorial/Coaching, to the students to enable them score better at academic examinations.
                </li>
                <li>
                    To award fellowships for higher studies.
                </li>
                <li>
                    To establish, award and implement Rajarshi Shahu Overseas Fellowships to encourage meritorious and brilliant students for higher learning and research abroad.
                </li>
                <li>
                    To promote, undertake, sponsor coaching for various Competitive Examinations, Professional courses, Entrance tests and Foreign courses specially for the girl candidates.
                </li>
                <li>
                    To establish, develop and maintain Helplines and Counselling centres to help the farmers and disadvantaged sections of women
                </li>
                <li>
                    To organize, sponsor various programs and to implement certain projects, including training, capacity building for empowerment and advancement of women and to financially support meritorious women candidates in health sector, sports, arts, crafts and
                    other innovative activities.
                </li>
                <li>
                    To establish, develop and maintain a national level library to be named as ‘Rajarshi Shahu National Public Library (RSNPL)’. Also, establish such libraries at Taluka and Gram Panchayat level.
                </li>
                <li>
                    To undertake educational, awareness and other welfare programs in all relevant spheres for the elderly.
                </li>
                <li>
                    To acquire, maintain and preserve the historical materials about traditional farming practices and culture of farming communities: their cultural values, various traditional arts and crafts, folk songs and dances, literature and languages including materials
                    in Modi script.
                </li>
                <li>
                    To acquire, preserve and maintain the personal papers, various orders and other historical material pertaining to Rajarshi Shahu’s life and works and publish the same for public.
                </li>
                <li>
                    To organize, undertake, conduct, encourage, promote, sponsor studies and research on the life and works of Chhatrapati Shahu Maharaj, Sant Tukaram, Jotirao Phule, Sant Gadge Baba, Tarabai Shinde, Savitribai Phule, Sayajirao Gaikwad, Chhatrapati Shivaji
                    Maharaj, Maharshi Shinde, Dr. Babasaheb Ambedkar, Bhagat Singh and other social reformers. Also, to undertake or sponsor production of Feature Films on the above mentioned social reformers and to build museums.
                </li>
                <li>
                    To network with other institutes in the country having similar aims and objectives of the Company.
                </li>
                <li>
                    To establish and manage Educational Institutions for providing quality education and vocational training in various disciplines to members of weaker sections of the society, especially in low literacy areas.
                </li>
                <li>
                    To organize and participate in conferences, seminars, symposia, workshops, discussions, shows, etc. in furtherance of the above objectives.
                </li>
            </ul>
        </div>
    </div>
</div>
